<form action="/product" method="POST">
    Nombre del producto
    <input name = "name">
    <br />
    Precio del producto
    <input name = "price">
    <button type "submit">Crear Producto</button>
</form>
