<form action="/products" method="POST">
    ID del producto
    <input name = "id">
    <br />
    Stock
    <input name = "stock">
    <br />
    Nombre del producto
    <input name = "name">
    <br />
    Precio del producto
    <input name = "price">
    <br />
    PATH de la Imagen
    <input name = "image_path">
    <br />
    Descripcion 
    <input name = "description">
    <button type "submit">Crear Producto</button>
</form>
