<form action="/products/editar/{{id}}" method="POST">
  Nombre: 
  <input name="name" value="{{name}}" />
  <br />
  Precio: 
  <input name="price" value="{{price}}" />
  <br />
  Imagen
  <input name="image" value="{{image}}"/>
  <button type="submit">Editar</button>
</form>

