 <!-- Contenido principal -->
  <div class="container mt-4 margin-bottom">
    <!-- Sección "Sobre Nosotros" -->
    <div class="row mb-5">
      <div class="col-12">
        <h4>Sobre nosotros</h4>
      </div>
      <div class="col-12 col-md-4">
        <img src="/resources/WhatsApp Image 2024-08-29 at 16.03.50.jpeg" alt="Imagen fundadora" class="img-fluid w-100 mb-3" style="max-width: 55%;">
      </div>
      <div class="col-12 col-md-8">
        <p>
          Bienvenidos a xd, la tienda líder en tecnología avanzada a lo largo y ancho del universo. Hemos establecido nuestra sede asegurando que cada uno de nuestros productos llegue a ti a la velocidad de la luz.
        </p>
        <p>
          Con nuestra ubicación en la Ascensión Recta 17h 45m 40.04s y Declinación −29° 00′ 28,1″, nos encontramos en el corazón de la galaxia.
        </p>
        <p>
          Explora nuestro catálogo, regístrate en nuestra página web, y únete a la revolución tecnológica que está transformando el universo. En xd, el futuro está a un clic de distancia.
        </p>
      </div>
    </div>

    <!-- Sección "Productos estrella" -->
    <div class="row">
      <div class="col-12 mb-3">
        <h4>Productos estrella</h4>
      </div>

      <!-- Card 1 -->
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/resources/MapaEstelar.webp" class="img-fluid rounded-start" alt="Imagen del producto">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Excelente inversión</h5>
                <p class="card-text">Las rutas rápidas entre sistemas, considerando la expansión del universo.</p>
                <a href="/users/productos.html" class="btn btn-primary">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 2 -->
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="resources/EscudoRoto.jpg" class="img-fluid rounded-start" alt="Imagen del producto">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Frinax lx'thar</h5>
                <p class="card-text">Zarath kul'venk proxima'val, jitrum ver'dal otranx. Nul'tor exan'gol kripthar zior'thal.</p>
                <a href="/users/productos.html" class="btn btn-primary">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Card 3 -->
      <div class="col-md-4">
        <div class="card mb-3" style="max-width: 540px;">
          <div class="row g-0">
            <div class="col-md-4">
              <img src="/resources/Batimovil.jpg" class="img-fluid rounded-start" alt="Imagen del producto">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">⩌⧃⨉⦰⨯⩚⫋⧅⟐⦿⫛</h5>
                <p class="card-text">⧄⨀⫑⦳⨛⧇⩲⨌⦤⫃⧊⩢⨪⫔⦯⧃⫚⨴⩗⫓⨔⦷⨱⫒⩅⨮⫙⦷⧆⩂⫝̸⦰⨍⧁⦲⨥⫓⦽⨖⩵⫘⧆⩄.</p>
                <a href="/users/productos.html" class="btn btn-primary">Ver producto</a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>