  <!-- Login -->
  <form action="/login" method="POST">
  Correo
  <input name="email" />
  <br />
  Contraseña
  <input name="password" type="password" />
  <button type="submit">Entrar</button>
</form>




  