<form action="/signup" method="POST">
  Nombre
  <input name="name" />
  <br />
  Correo
  <input name="email" type="email" />
  <br />
  Contraseña
  <input name="password" type="password" />
  <button type="submit">Regristrarse</button>
</form>

